In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,81.95,light rain,3.0707,172.7902,Isles Sunset Lodge
1,3,Najran,SA,88.45,light rain,17.4924,44.1277,محمد هادي ال فطيح
2,4,Lompoc,US,67.93,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
3,9,Rikitea,PF,72.23,light rain,-23.1203,-134.9692,People ThankYou
4,11,Bambous Virieux,MU,70.21,broken clouds,-20.3428,57.7575,Casa Tia Villa

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
current_description = vacation_df["Current Description"]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Scicli']
vacation_end = vacation_df.loc[vacation_df['City']=='Scicli']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Corleone']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Siderno']
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Marsaxlokk']
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
173,287,Marsaxlokk,MT,81.21,few clouds,35.8419,14.5431,Water's Edge

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
start
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
end
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop1
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop2
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])
stop3

(35.8419, 14.5431)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
itinerary_map = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(itinerary_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
# Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,255,Scicli,IT,81.95,clear sky,36.7902,14.7014,Le Dimore Dei Venti
1,255,Scicli,IT,81.95,clear sky,36.7902,14.7014,Le Dimore Dei Venti
2,215,Corleone,IT,77.74,clear sky,37.8134,13.3017,Leon D'Oro
3,634,Siderno,IT,79.07,clear sky,38.2779,16.3020,Grand Hotel President
4,287,Marsaxlokk,MT,81.21,few clouds,35.8419,14.5431,Water's Edge

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map.
current_description = vacation_df["Current Description"]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(37.2, 14.2), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))